html{
	width:100%;
	margin:0px; padding:0px;
	/* height: 1682px; */
}

body {
	height:100%;
	margin: 0px;
	padding:0px;
}

.main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue";
	font-size: 18px;
}

.main p {
	line-height: 1.5em;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5em;
	background-color: #E7E7E7;

}

.menu{
	position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu > p{
	margin: auto 1em;
	text-transform: uppercase;
	opacity: 0.5;
	font-family: Kiona;
}

h1{
	text-transform: uppercase;
	font-family: Kiona;
	text-decoration: none;
	font-size: 200%;
	text-align: center;
	margin: 2em 0;
}

h2{
	text-transform: uppercase;
	font-family: Kiona;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.content > div {
	padding: 5em 8em;
}

.content p{
	color: #4E4E4E;
}

header {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	color: #4E4E4E;
}

header h1{
		opacity: 0.2;
}

header p {
	line-height: 2em;
}

.header-images{
	display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3em 0em;
}

.header-images img{
	width: 12em;
	height: 100%;
}

.brand-name{
	text-transform: uppercase;
	color: #EC484E;
	font-family: Kiona;
}

.how-it-works{
	background-color: #FBFBFB;
}

.how-it-works > .background{
	position: absolute;
	right: 0;
  top: 90vh;
}

.steps-wrapper{
	display: flex;
	justify-content: space-around;
  align-items: flex-start;
	padding-top: 3em;
	position: relative;
}

.steps-header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
}

.steps-header > h2 {
	align-self: center;
}
.steps{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 2em;
	flex: 1;
}

.steps p{
	margin: 0;
}

h3{
	font-family: Kiona;
	font-size: 2em;
	text-transform: uppercase;
}

.steps h3{
	opacity: 0.2;
	margin: 0;
	padding: 0.5em 0;
	font-family: Kiona;
}

.steps img{
	width: 8em;
	align-self: center;
}

.header-background {
	width: 50%;
    background-image: url("img/header-background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 55%;
}

.header{
	display: flex;
	height: 34em;
	padding: 0em 8em;
	background-color: #E7E7E7;
}

.btn{
	padding: 1em;
	width: 8em;
	background-color: transparent;
	text-align: center;
	margin: 5% 0%;
	border: 1px solid #979797;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
}

.btn::after{
	content: "";
	background: #F2F2F2;
	position: absolute;
	height: 3.5em;
	width: 10.5em;
	top: 0.5em;
	left: 0.5em;
	z-index: -1;
}

.sign-up{
	padding: 1.5em 5em;
	text-align: center;
	background-color: #F6F6F6;
	margin: 4em 10em;
	z-index: 1;
	position: relative;
	display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up > .btn::after{
	background-color: #fff;
}

.sign-up-section{
	position: relative;
	padding-bottom: 2em !important;
}


/* footer{
	margin-top: 3em;’
} */
