html{
	width:100%;
	margin:0px; padding:0px;
	/* height: 1682px; */
}
+
body {
	height:100%;
	margin:0px;
	padding:0px;
}

.main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* background-image: url("img/background.png"); */
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue";
	font-size: 18px;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5em;
}
/*
ul {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto) 1fr;
  grid-column-gap: 5px;
  justify-items: center;
}

li:nth-child(1) { grid-column-start: 2; } */


h1{
	text-transform: uppercase;
	font-family: Kiona;
	text-decoration: none;
	font-size: 200%;
	text-align: center;
	margin: 2em 0;
}

h2{
	text-transform: uppercase;
	font-family: Kiona;
	text-decoration: none;
	/* font-size: 200%; */
	text-align: center;
	margin: 0;
	padding: 0;
}

.content{
		padding: 0em 8em;
}

.content > div{
		/* padding: 2em 0em; */
}

.content p{
	color: #4E4E4E;
}
header {
	position: relative;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

header h1{
		opacity: 0.2;
}

header p{
	/* text-align: center; */
}

.header-images{
	display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3em 0em;
}

.header-images img{
	width: 12em;
	height: 100%;
}

.brand-name{
	text-transform: uppercase;
	color: #EC484E;
	font-family: Kiona;
}

.steps-wrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 5em;
	padding-bottom: 5em;
}

.steps-header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.steps-header > h2 {
	align-self: center;
}
.steps{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 2em;
	flex: 1;
}

.steps p{
	/* padding-top: 1em; */
}

.steps h3{
	opacity: 0.2;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.steps img{
	width: 10em;
	align-self: center;
}

.sign-up{
	background-color: #F4F4F4;
	height: 200px;
}

.primary-background {
	position: absolute;
	width: 35vw;
	height: 40vw;
	opacity: 0.2;
	top: 0;
	left: 0;
	z-index: -1;
	background-image: url("img/nav-image.jpg");
	background-size: 200%;
	background-position-x: -45px;
  /* set height to pixels if you want angle to change with screen width */
}
.secondary-background {
	background-image: url("img/nav-image.jpg");
	background-size: 200%;
	background-position-x: -45px;
	width: 35vw;
	height: 40vw;
  /* set height to pixels if you want angle to change with screen width */
}

.first{
	display: flex;
	height: 34em;
	padding-top: 2em;
}

.btn{
	background-color: #EC484E;
	padding: 2%;
	border-radius: 3px;
	color: white;
	width: 30%;
	text-align: center;
	margin: 5% 0%;
}
