@font-face {
		font-family: 'Kiona';
		src: url('/fonts/Kiona-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}
/*
*
* MISC
*
*/

html{
	width:100%;
	margin:0px; padding:0px;
	/* height: 1682px; */
}

body {
	height:100%;
	margin: 0px;
	padding:0px;
}

.main{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue","Helvetica,Arial","sans-seriff";
}

.main p {
	line-height: 1.5em;
}

h1, h2, h3 {
	color: #4E4E4E;
	font-family: "Kiona";
	font-style:
}
h1{
	text-transform: uppercase;
	text-decoration: none;
	font-size: 200%;
	text-align: center;
	margin: 40px 0;
}

h2{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

h3{
	font-size: 2em;
	text-transform: uppercase;
}

.brand-name{
	text-transform: uppercase;
	color: #EC484E;
	font-family: Kiona;
}

.btn{
	padding: 10px;
	width: 200px;
	background-color: transparent;
	text-align: center;
	margin: 0 0px calc(40px + 8px) 0;
	border: 1px solid #4E4E4E;
	cursor: pointer;
	position: relative;
	text-transform: uppercase;
	font-family: Kiona;
	font-size: 18px;
}

.btn::after{
	content: "";
	background: #F2F2F2;
	position: absolute;
	height: 45px;
	width: 200px;
	top: 8px;
	left: 8px;
	z-index: -1;
}

.form {
  display:  flex;
  flex-direction:  column;
  align-items:  center;
  width:  300px;
}

label {
  font-size:  18px;
  color:  #000;
  opacity:  .8;
  font-weight:  400;
}

input {
  font-size:  18px;
  padding:  20px 0px;
  height:  56px;
  border:  none;
  border-bottom:  solid 1px rgba(0,0,0,.1);
  background:  #F6F6F6;
  width:  280px;
  box-sizing:  border-box;
  transition:  all .3s linear;
  color:  #000;
  font-weight:  400;
  -webkit-appearance:  none;
}

input:focus {
    border-bottom:  solid 1px $primary;
    outline: 0;
    box-shadow:  0 2px 6px -8px rgba($primary, .45);
}

@media (max-width: 700px) {
	.btn {
		margin: 10px 0;
	}
}

@media (max-width: 1000px) {
	.btn {
		font-size: 16px;
	}

	p{
		font-size: 16px !important;
	}

	h2{
		font-size: 1.2em !important;
	}

	h3{
		font-size: 1.1em !important;
	}
}

/*
*
*
* NAV
*
*
*/

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: #E7E7E7;
	position: relative;
}

.menu{
	position: absolute;
  right: 20px;
	top: 10px;
}

.menu img{
  width: 20px;
	height: 20px;
	padding-right: 5px;
}

.menu a{
	text-decoration: none;
	color: #4E4E4E;
}

.menu span{
	font-size: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu > p{
	margin: auto 1em;
	text-transform: uppercase;
	opacity: 0.5;
}

@media (max-width: 700px) {
	nav {
		height: 50px;
    padding-top: 10px;
	}

	nav > img{
		height: 100%;
	}
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
	nav {
		height: 60px;
    padding-top: 10px;
	}
	nav > img{
		height: 100%;
	}
}

/*
*
*
* HEADER
*
*
*/

.header-images{
	display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 3em 0em;
}

.header-images img{
	width: 12em;
	height: 100%;
}

.header-background-container {
	align-self: flex-end;
	margin-bottom: -5px
}

.header-background {
	width: 100%;
	height: auto;
}

.header{
	display: flex;
	padding-right: 25px;
	background-color: #E7E7E7;
	flex-direction: row;
  justify-content: center;
}

header {
	position: relative;
	width: 576px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	color: #4E4E4E;
}

header h1{
		opacity: 0.2;
}

header p {
	line-height: 2em !important;
	padding: 0;
	margin: 0 0 40px 0;
	font-size: 1.3em;
}


.header button{
	padding: 1em;
}

.header button{
	width: 215px;
}

.header button::after{
	width: 215px;
	height: calc(45px + 1em)
}

@media (max-width: 700px) {
	.header{
		flex-direction: column-reverse;
		padding: 8% 8% 0 8%;
		height: 600px;
	}

	.header-background{
		background-position: 50%;
		margin-bottom: -5px;
	}

	.main p{
		margin-bottom: 5%;
	}

	header{
		width: 100%;
	}

  h1 {
		margin: 5%;
  }
}

@media (max-width: 1000px) {
	.main p{
		margin-bottom: 5%;
	}

  h1 {
		font-size: 1.2em;
		margin: 5%;
  }
}



/*
*
*
* CONTENT
*
*
*/

.content > div {
	padding: 5% 8%;
}

.content p{
	color: #4E4E4E;
}

@media (max-width: 700px) {
	.content > div {
		padding: 0% 8% 0 8%;
	}
}

/*
*
*
* HOW IT WORKS
*
*
*/

.how-it-works{
	background-color: #FBFBFB;
	position: relative;
}

.how-it-works-shape{
	position: absolute;
	right: 0;
	top: 0;
}

.steps-wrapper{
	display: flex;
	justify-content: space-around;
  align-items: flex-start;
	padding-top: 50px;
	position: relative;
}

.steps-header{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	position: relative;
}

.steps-header > h2 {
	align-self: center;
}
.steps{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 2em;
	flex: 1;
}

.steps p{
	margin: 0;
}

.steps h3{
	text-align: center;
	opacity: 0.2;
	margin: 0;
	padding: 0.5em 0;
}

.steps img{
	width: 8em;
	align-self: center;
}

@media (max-width: 700px) {
	.how-it-works > .background{
		display: none;
	}

	.how-it-works-shape{
		display: none;
	}

	.how-it-works h2{
		padding: 50px 0;
	}

	.steps-wrapper{
		flex-direction: column;
		padding-top: 0 !important;
		align-items: center;
	}

	.steps{
		padding: 0 0 50px 0 !important;
	}

	.steps > h3, p{
		text-align: center;
	}
}

@media (max-width: 1000px) {
		.line{
			display: none;
		}
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
	.steps{
		padding: 10px !important;
	}
}

/*
*
*
* SIGN UP
*
*
*/

.sign-up{
	padding: 1.5em 5em;
	text-align: center;
	background-color: #F6F6F6;
	max-width: 550px;
	z-index: 1;
	position: relative;
	display: flex;
  flex-direction: column;
  align-items: center;
	margin-top: 3.5em;
}

.sign-up .btn{
	margin: 30px 0;
}

.sign-up .btn::after{
	background-color: #fff;
}

.sign-up-section{
	position: relative;
	padding-bottom: 2em !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sign-up-section > p{
	padding: 0 2em;
}

.entry {
	position:  relative;
	margin-bottom:  10px;
	width:  100%;
}

.entry label {
	position:  absolute;
  top: calc(50% - 20px);
  left:  0;
  opacity:  0;
  transition:  all .3s ease;
  padding-left:  44px;
}

.entry input{
	width:  calc(100% - 44px);
  margin-left:  auto;
  display:  flex;
}

.entry input:not(:placeholder-shown) {
  padding:  28px 0px 12px 0px;
}

.entry input:not(:placeholder-shown) + label {
    transform:  translateY(-10px);
    opacity:  .5;
		font-size: 14px;
}

.entry input:valid:not(:placeholder-shown) + label + .icon svg {
  opacity:  1;
  }
}

.entry input:valid:not(:placeholder-shown) + label + .icon svg path {
  fill:  #4853ec;
}

.entry input:not(:valid):not(:focus) + label + .icon {
  animation-name: shake-shake;
  animation-duration: .3s;
}

.entry .icon{
	position:  absolute;
  top:  0;
  left:  0;
  height:  56px;
  width:  44px;
  display:  flex;
}

.entry .icon svg {
	height:  30px;
	width:  30px;
	margin:  auto;
	transition:  all .3s ease;
}

.entry .icon svg path {
	transition:  all .3s ease;
	fill: #4853ec;
}

.join{
	display: flex;

}
.thanks-newsletter{
	display: none;
}

.thanks-newsletter h3{
	color: #EC484E;
}
.thanks-newsletter p:last-child {
	font-style: italic;
}

@media (max-width: 1000px) {
	.sign-up{
		margin: 0;
		padding: 5% 10%;
	}

	.sign-up > h3{
		margin: 0;
	}

	.sign-up-section > p {
		padding: 2% 2%;
	}

	.sign-up-section > h3 {
		padding: 2% 2em;
	}

	.entry input, label{
		font-size: 16px;
	}
}

/* footer{
	margin-top: 3em;’
} */
